@import 'fonts.scss';

* {
    padding: 0;
    margin: 0;

    list-style: none;
    box-sizing: border-box;
    text-decoration: none;

    font-family: 'Roboto';
    font-weight: 400;
}

.body {
    background: #98c0ff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 19px;
}

.phone{
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    position: relative;

    &__header {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 31px 20px;
        background: #323232;
        border-radius: 10px 10px 0 0;

        &_info {

            &-name {
                font-weight: 500;
                font-size: 18px;
                line-height: 78%;
                color: #fff;
            }

            &-status {
                font-weight: 300;
                font-size: 14px;
                line-height: 129%;
                color: #fff;
                margin-top: 2px;
            }
        }
    }

    &__main {
        background-image: url('@/assets/img/phone-bg.jpg');
        height: 632px;
        overflow-y: auto;
        padding: 10px;

        display: flex;
        flex-direction: column;
        gap: 10px;

        &_sms {
            display: flex;
            align-items: end;
            gap: 5px;

            &.active {
                flex-direction: row-reverse;
            }

            &.active .phone__main_sms-text{
                border-radius: 15px 15px 0 15px;
                background: #d0dcff;
            }

            &-time {
                font-size: 14px;
                color: #323232;
            }

            &-text {
                max-width: 287px;
                width: auto;
                padding: 5px 10px;
                background: #c4bfff;
                border-radius: 15px 15px 15px 0;

                font-size: 16px;
                color: #000;    
                
                & img {
                    border-radius: 13px;
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                }
            }
        }
    }

    &__footer {
        background: #323232;
        border-radius: 0 0 10px 10px;

        padding: 10px 0;

        bottom: -56px;
        left: 0;
        width: 100%;
        position: absolute;

        &_form {
            display: flex;
            align-items: end;

            & button {
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                border: none;
                margin-bottom: 16px;
                margin-left: 13px;
            }

            & textarea {
                width: calc(100% - 50px); /* Учитываем ширину кнопок внутри формы */
                display: flex;
                align-items: center;
                outline: none;
                padding: 19px;
            
                resize: none;
                overflow-y: auto;
            
                background: transparent;
                border: none;
            
                font-size: 14px;
                color: #fff;
            }
        }
    }
}